<div class="modal fadeIn" id="modalLineCenter" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="modalLineDialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLineLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalLineBody">
                <form role="form" id="lineForm">
                    <div class="form-group" id="lineForm">
                        <label for="Numero de Parte">Linea</label>
                        <input type="text" class="form-control" id="lineName" aria-describedby="Numero de Parte"
                            placeholder="Introducir Nombre de la Línea" required>
                    </div>
                  
                
                    <div class="col">
                        <button type="submit" style="width: 100%" id="createLine" class="btn btn-primary"></button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>