<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg">
            <h1>REPORTE DE PRODUCCIÓN</h1>
        </div>
    </div>
    <div class="row">
        <div class="buttonMain col-sm-6 col-lg">
            <a class="btn btn-primary btn-lg" href="/produccion/daimler" role="button">Daimler</a>
        </div>
        <div class="buttonMain col-sm-6 col-lg">
            <a class="btn btn-primary btn-lg" href="/produccion/fa1" role="button">FA-1</a>
        </div>
    </div>
</div>