<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg">
            <h1>REPORTE DE PRODUCCIÓN</h1>
        </div>
    </div>
    <div class="row">
        <div class="buttonMain col-sm-3 col-lg">
            <a class="btn btn-primary btn-lg" href="/produccion/daimler" role="button">Daimler</a>
        </div>
        <div class="buttonMain col-sm-3 col-lg">
            <a class="btn btn-primary btn-lg" href="/produccion/fa1" role="button">FA-1</a>
        </div>
        <div class="buttonMain col-sm-3 col-lg">
            <a class="btn btn-primary btn-lg" href="/produccion/fa9" role="button">FA-9</a>
        </div>
        <div class="buttonMain col-sm-3 col-lg">
            <a class="btn btn-primary btn-lg" href="/produccion/fa11" role="button">FA-11</a>
        </div>
    </div>
     <div class="row">
        <div class="buttonMain col-sm-3 col-lg">
            <a class="btn btn-primary btn-lg" href="/produccion/fa13" role="button">FA-13</a>
        </div>
    </div>
</div>