<div class="container py-4">
  <div class="row mb-4">
    <div class="col-12 text-center">
      <h1 class="fw-bold text-primary">REPORTE DE PRODUCCIÓN</h1>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 justify-content-center">
    <div class="col d-flex mb-3">
      <a class="btn btn-primary btn-lg w-100 shadow" href="/produccion/daimler" role="button">
        Daimler
      </a>
    </div>
    <div class="col d-flex mb-3">
      <a class="btn btn-primary btn-lg w-100 shadow" href="/produccion/fa1" role="button">
        FA-1
      </a>
    </div>
    <div class="col d-flex mb-3">
      <a class="btn btn-primary btn-lg w-100 shadow" href="/produccion/fa9" role="button">
        FA-9
      </a>
    </div>
    <div class="col d-flex mb-3">
      <a class="btn btn-primary btn-lg w-100 shadow" href="/produccion/fa11" role="button">
        FA-11
      </a>
    </div>
    <div class="col d-flex mb-3">
      <a class="btn btn-primary btn-lg w-100 shadow" href="/produccion/fa13" role="button">
        FA-13
      </a>
    </div>
  </div>
</div>